

    <div class="form-row">
        <div class="col">
            <span class="label label-default">Othername</span>
        <div class="col">
            <%=stud.fname %>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
            <span class="label label-default">Surname</span>
        <div class="col">
            <%=stud.lname %>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
            <span class="label label-default">ID</span>
        <div class="col">
            <%=stud.id %>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
            <span class="label label-default">Date Of Birth</span>
        <div class="col">
            <%=stud.dob %>
        </div>
      </div>
      <!-- <div class="form-row">
        <div class="col">
            <span class="label label-default">Surname</span>
        <div class="col">
            <%=stud.lname %>
        </div> -->
      <!-- </div> -->
      <div class="form-row">
        <div class="col">
            <span class="label label-primary">Email</span>
        <div class="col">
            <%=stud.email %>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
            <span class="label label-primary">Hall Status</span>
        <div class="col">
            <%= %>
        </div>
      </div>

