 <% for(let i=0; i< stud.length; i++){ %>
              <tr>
                <td> <%= stud[i].id %> </td>
                <td> <%= stud[i].lname%> </td>
                <td> <%= stud[i].fname %> </td>
                <td> <%= stud[i].dob %> </td>
                 <td> <%= stud[i].gender%> </td>
                <td> <%= stud[i].hall %> </td>
                <td> <%= stud[i].room%> </td>
              </tr>
  <% } %>